@using Models.Entity
@model dynamic

@{
    ViewBag.Title = ViewBag.TenTruyen;
    ChapterTruyen chapter = Model.CurrentChapter;
    IEnumerable<string> chapterImages = (IEnumerable<string>)Model.ChapterImages;
    IEnumerable<ChapterTruyen> listChapters = (IEnumerable<ChapterTruyen>)Model.ListChapters;
}

@section styles{
    <link type="text/css" rel="stylesheet" href="~/Content/chapter.css" />
}

<div class="site-content content-chapter">
    <div class="container">
        <div class="row">
            <div class="main-col col-md-12 col-sm-12 sidebar-hidden">
                <h1 id="chapter-heading">@String.Concat((string)ViewBag.TenTruyen, " - ", chapter.TenChapter)</h1>
                <div class="main-col-inner">
                    <div class="c-blog-post">
                        <div class="entry-header header" id="manga-reading-nav-head" data-position="header">
                            <div class="wp-manga-nav">
                                <div class="entry-header_wrap">
                                    <div class="c-breadcrumb-wrapper">
                                        <ol class="breadcrumb">
                                            <li>@Html.ActionLink("Trang chủ", "Index", "Home", null, null)</li>
                                            <li>@Html.ActionLink((string)ViewBag.TenTruyen, "Index", "Truyen", new { id = chapter.TruyenID }, null)</li>
                                            <li class="active">@chapter.TenChapter</li>
                                        </ol>
                                        <div class="action-icon">
                                            <ul class="action_list_icon list-inline">
                                                <li id="chapter_report_li"><a href="#" data-manga="11841" data-chapter="@chapter.TenChapter" id="btn_flag_chapter" title="Report this chapter"><i class="icon ion-md-alert"></i></a></li>
                                                <li>
                                                    <a href="#" class="wp-manga-action-button toggle-contrast" data-action="toggle-contrast" title="Toggle Dark/Light Mode"><i class="icon ion-md-contrast"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="short-link entry-header">
                            <div class="wp-manga-nav"></div>
                        </div>
                        <div class="entry-content">
                            <div class="entry-content_wrap">
                                <div class="reading-content" id="chapter_content">
                                    @foreach (string item in chapterImages)
                                    {
                                        int i = 0;
                                        <div class="page-break ">
                                            <img id="image-@i" src="../@item" class="chapter-img img-responsive" loading="lazy" width="800" height="400" alt="@String.Concat((string)ViewBag.TenTruyen, " - ", chapter.TenChapter)">
                                        </div>;
                                        i++;
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="entry-header footer" id="manga-reading-nav-foot" data-position="footer" data-id="454">
                    <div class="wp-manga-nav">
                        <div class="entry-header_wrap">
                            <div class="select-view">
                                <div class="chapters_selectbox_holder" data-type="manga" data-style="paged">
                                    <div class="c-selectpicker selectpicker_chapter" for="volume-id-104">
                                        <label>
                                            <select class="selectpicker single-chapter-select">

                                                @foreach (ChapterTruyen item in listChapters)
                                                {
                                                    <option class="short" data-limit="40" data-redirect="@Url.Action("Read", "Truyen", new { truyenID=item.TruyenID, chapterID=item.ChapterID, tenTruyen=ViewBag.TenTruyen})">@item.TenChapter</option>
                                                }
                                            </select>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="select-pagination">
                                <div class="nav-links">
                                    <i class="mobile-nav-btn icon ion-md-menu"></i>
                                    <div class="nav-next ">
                                        @if (chapter.ChapterID == listChapters.Last().ChapterID)
                                        {
                                            @Html.ActionLink("Trước", "Read", "Truyen", new { truyenID = chapter.TruyenID, chapterID = chapter.ChapterID - 1, tenTruyen = (string)ViewBag.TenTruyen }, new { @class = "btn prev_page" })
                                        }
                                        else if (chapter.ChapterID == listChapters.First().ChapterID)
                                        {
                                            @Html.ActionLink("Tiếp", "Read", "Truyen", new { truyenID = chapter.TruyenID, chapterID = chapter.ChapterID + 1, tenTruyen = (string)ViewBag.TenTruyen }, new { @class = "btn next_page" })
                                        }
                                        else
                                        {
                                            @Html.ActionLink("Trước", "Read", "Truyen", new { truyenID = chapter.TruyenID, chapterID = chapter.ChapterID - 1, tenTruyen = (string)ViewBag.TenTruyen }, new { @class="btn prev_page"})
                                            @Html.ActionLink("Tiếp", "Read", "Truyen", new { truyenID = chapter.TruyenID, chapterID = chapter.ChapterID + 1, tenTruyen = (string)ViewBag.TenTruyen }, new { @class="btn next_page"})
                                        }

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @Html.Partial(Cls_Main.COMMENT, (IEnumerable<Comment>)Model.ListComments)
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript" src="~/Scripts/custom.js"></script>
    <script type="text/javascript" src="~/Scripts/chapter.js"></script>
}